# Database Settings
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_URL=

# Ollama Settings
OLLAMA_BASE_URL=
OLLAMA_LLM_MODEL=
OLLAMA_EMBED_MODEL=

# Backend Settings (Spring Boot)
SERVER_PORT=

# Frontend Settings (Vite)
VITE_API_URL=
